.game-container {
  display: flex;
  flex-direction: row;
  padding: 2%;
  gap: 30px;
  height: 100vh;

  .game-container__left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    flex: 70%;
    align-items: center;

    .game-quote {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .quote-content {
      font-weight: 700;
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: x-large;
    }

    .quote-author {
      display: flex;
      justify-content: center;
    }
  }

  .game-container__right {
    flex: 30%;
    display: flex;
    align-items: center;
  }

  .hangman-image {
    max-height: 100%;
    max-width: 100%;
  }
}